<ul ngbNav #nav="ngbNav" [(activeId)]="active" class="nav-tabs">
  <li [ngbNavItem]="1">
    <a ngbNavLink routerLink="/Products">All Products</a>
    <ng-template ngbNavContent> </ng-template>
  </li>
  <li [ngbNavItem]="2">
    <a ngbNavLink routerLink="/Clients">Our clients</a>
    <ng-template ngbNavContent> </ng-template>
  </li>
  <li [ngbNavItem]="3">
    <a routerLink="/Contact" ngbNavLink>Contact</a>
    <ng-template ngbNavContent> </ng-template>
  </li>
  <li [ngbNavItem]="4">
    <a routerLink="/Orders" ngbNavLink>Our orders</a>
    <ng-template ngbNavContent> </ng-template>
  </li>
</ul>

<div [ngbNavOutlet]="nav" class="mt-2"></div>
